## Conditional Statements:

In [11]:
age=int(input("Enter your age:"))

if age>=18:
    if age ==25:
        print("I am Idiot")
    else:
        print("I am good")
elif age<0:
    print("Ypu are an alien")
else:
    print("You are a guy")

Enter your age:23
I am good

In [18]:
year=int(input("Enter year:"))

if year % 4 ==0:
    if year % 100 ==0:
        if year %400 ==0:
            print("Leap Year")
        else:
            print("Not Leap Year")
    else:
        print("Leap Year")
else:
    print("Not Leap Year")

Enter year:2004
Leap Year

## Loops:

In [19]:
for i in range(5):
    print(i)

0
1
2
3
4

In [22]:
for i in range(1,6,2):#(start, end, step)
    print(i)

1
3
5

In [23]:
str="Lord Sen"
for i in str:
    print(i)

L
o
r
d

S
e
n

In [26]:
## While loop
## it executes until the condition is true

count = 0

while count < 5:
    print(count)
    count=count+1

0
1
2
3
4

In [27]:
# Loop Control statements:
## The break statement exits the loop prematurely

for i in range(10):
    if i==5:
        break
    print(i)

0
1
2
3
4

In [29]:
## continue

for i in range(10):
    if i%2==0:
        continue
    print(i)

1
3
5
7
9

In [30]:
## pass
## The pass statement is a null operation,it does nothing

for i in range(5):
    if i==3:
        pass
    print(i)

0
1
2
3
4

In [32]:
# Nested loops:
for i in range(3):
    for j in range(2):
        print(f"i:{i} and j:{j}")

i:0 and j:0
i:0 and j:1
i:1 and j:0
i:1 and j:1
i:2 and j:0
i:2 and j:1

In [33]:
for i in range(3):
    for j in range(2):
        print(i,j)

0 0
0 1
1 0
1 1
2 0
2 1

In [36]:
n=10
sum = 0
count =1

while count <=n:
    sum=sum+count
    count=count+1
print(sum)

55

In [38]:
n=10
sum = 0
count =1

for i in range(11):
    sum=sum+i
    
sum

55

In [39]:
for num in range(1,101):
    if num>1:
        for i in range(2, num):
            if num%i==0:
                break
        else:
            print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97